body {
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    gap: 50px;
    background-color: rgb(77, 226, 23);
    filter: drop-shadow(0px 0px 10px grey);
}

.header h1 {
    color: aliceblue;   
    font-size: 50px;
}

.logo1 {
    margin-left: 50px;
    margin-top: 5px;
    display: flex;
    gap: 25px;
    flex: 2;
}

.logo {
    margin-top: 35px;
}

.adress {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex: 1;
    position: absolute;
    right: 50px;

}

.adress a {
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
}

.adress a:hover {
    background-color: rgba(78, 78, 78, 0.185);
    border-radius: 10%;
    padding: 5px;
}

.baslik {
    color: rgb(113, 236, 69);
    margin-left: 200px;
    margin-top: 100px;
    font-size: 2.5rem;
}

.section {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 450px 450px 450px 1fr;
    grid-template-rows: 850px 250px 850px;
}

.boximg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.box1 {
    width: 450px; 
    height: 800px; 
    border: 3px solid rgb(77, 226, 23);
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0px 0px 10px grey; 
}

.box2 {
    width: 450px; 
    height: 800px; 
    border: 3px solid rgb(77, 226, 23);
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto;
    grid-column: 3;
    grid-row: 1;
    box-shadow: 0px 0px 10px grey; 
}

.box3 {
    width: 450px; 
    height: 800px; 
    border: 3px solid rgb(77, 226, 23);
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto;
    grid-column: 4;
    grid-row: 1;
    box-shadow: 0px 0px 10px grey; 
}

.box4 {
    width: 450px; 
    height: 800px; 
    border: 3px solid rgb(77, 226, 23);
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto;
    grid-column: 2;
    grid-row: 3;
    box-shadow: 0px 0px 10px grey; 
}

.box5 {
    width: 450px; 
    height: 800px; 
    border: 3px solid rgb(77, 226, 23);
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto;
    grid-column: 3;
    grid-row: 3;
    box-shadow: 0px 0px 10px grey; 
}

.box6 {
    width: 450px; 
    height: 800px; 
    border: 3px solid rgb(77, 226, 23);
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto;
    grid-column: 4;
    grid-row: 3;
    box-shadow: 0px 0px 10px grey; 
}

.boximg {
    width: 450px; 
    height: 350px; 
    
}

.boxfont {
    position: relative;
    bottom: 0px;
    margin: 50px auto 0px;
    width: 350px; 
    height: 200px; 
    border: 2px dotted rgb(77, 226, 23);
    padding: 15px;
    border-radius: 20px;
    
    
}

.baslik1 {
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

div a {

    color: white;
    text-decoration: none;
}

.btn {
    margin: 30px auto;
    width: 200px;
    background-color: rgb(77, 226, 23);
    border: 1px solid rgb(77, 226, 23);
    padding: 5px;
    border-radius: 10px;
    
}

.btn:hover {
    background-color: rgb(63, 183, 19);
    border: 1px solid rgb(77, 226, 23);
}

.reklam1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
    height: 250px;
    margin: 0px auto;
    
}

.font2 {
    height: 126px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reklam {
    grid-column-start: 1;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.scroll-button {
    background-color: rgb(77, 226, 23); 
    padding: 5px; 
    width: 20px; 
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    pointer-events: none;
}

.scroll-button:hover {
    background-color: rgb(63, 183, 19);
  }

  body:not(:target) #scrollToTop {
    opacity: 1;
    pointer-events: auto;
  }

html {
    scroll-behavior: smooth; /* Yumuşak kaydırma */
}